.booking__wrapper {
  padding: 38px 18px 49px;
}

.booking__title {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 11px;
}

.booking__text {
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.booking__search {
  margin: 0;
  display: block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px 49px;
  background-color: #81b3d2;
}
