.catalog-intro__header {
  padding: 37px 20px 25px;
}

.catalog-intro__title {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.catalog-intro__text {
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
}
