.catalog-video__header {
  padding: 17px 26px 38px 28px;
}

.catalog-video__wrapper img {
  display: block;
  margin: 0 auto;
}

.catalog-video__title {
  margin: 0;
  margin-bottom: 35px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-video__text {
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
}
