// Карточки каталога на гридах и внутренние отступы
.catalog__list {
  margin: 0;
  padding: 24px 0 25px;
}

.catalog-item {
  position: relative;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content min-content;
  text-align: left;
  text-decoration: none;

  // Отступы между карточками (кроме последней)
  &:not(:last-child) {
    margin-bottom: 50px;
  }

  // Псевдоэлемент-разделитель блоков
  &::before {
    position: absolute;
    content: " ";
    height: 1px;
    width: 100%;
    background-color: #e5e5e5;
    top: -25px;
    left: 0;
  }
}

// Шрифт заголовков списка
.catalog-item__title {
  margin-top: 15px;
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: @title-text;
}

// Шрифт текста описания
.catalog-item__text {
  text-transform: none;
  margin-bottom: 10px;
}

// Расположение иконки "палец вверх" и цифры-счетчика лайков
.catalog-item__like {
  display: flex;
  background-image: url("../img/catalog/like-icon.svg");
  background-repeat: no-repeat;
  background-position: start;
  background-color: transparent;
}

// Шрифт цифры лайков
.catalog-item__like-count {
  margin: 0;
  padding-top: 5px;
  padding-left: 37px;
  font-weight: 700;
  color: @title-text;
  text-transform: uppercase;
}
