// Карточки каталога на флексах
.catalog-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 0 20px;

  @media (max-width: @mobile-width-only) {
    position: relative;
    text-align: left;

    // Отступы между карточками (кроме последней)
    &:not(:last-child) {
      margin-bottom: 50px;
    }

    // Псевдоэлемент-разделитель блоков
    &::before {
      position: absolute;
      content: " ";
      height: 1px;
      width: 100%;
      background-color: #e5e5e5;
      top: -25px;
      left: 0;
    }
  }

  // Карточки по 2 шт в ряд, кроме первой для планшета
  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 0;
    width: 50%;

    &--main {
      width: 100%;
    }
  }

  // Карточки по 3 шт в ряд, кроме первой для десктопа
  @media (min-width: @desktop-width) {
    position: relative;
    padding: 0;
    margin: 0;
    width: 33.33%;

    &--main {
      width: 100%;
    }
  }
}

.catalog__picture {
  width: 100%;
}

// Поведение контентных изображений
.catalog__image {
  display: block;
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  background-color: @decor;

  // Первое изображение особенной высоты для планшетной и больше ширины экрана
  &--main {
    @media (min-width: @tablet-width) {
      height: 400px;
    }
  }

  // Относительное позиционарование для расположения полосы описания на изображении
  @media (min-width: @desktop-width) {
    position: relative;
  }
}

// Шрифт заголовков списка
.catalog-item__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: @black;
  margin-top: 15px;
  margin-bottom: 2px;

  @media (min-width: @desktop-width) {
    margin-top: 10px;

    &--main {
      margin-top: 15px;
    }
  }
}

// Шрифт текста описания
.catalog-item__text {
  text-transform: none;
  margin-bottom: 10px;
}

// Шрифт цифры лайков
.catalog-item__like-count {
  margin: 0;
  padding-top: 5px;
  padding-left: 14px;
  font-weight: 700;
  color: @black;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding-top: 4px;
    padding-left: 9px;
  }
}

// Полоса описания под фото
.catalog-item__container {
  @media (min-width: @tablet-width) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: start;
    padding: 0 20px;
    min-height: 80px;
    background-color: @input;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    bottom: 0;
    padding-left: 25px;
    background-color: rgba(0, 0, 0, 0.3);

    &--main {
      padding: 0 20px;
    }

    * {
      color: @white;
    }
  }
}

// Расположение иконки "палец вверх" и цифры-счетчика лайков
.catalog-item__like {
  display: flex;
  cursor: pointer;

  // Стилизация иконки Палец вверх
  svg {
    fill: @black;
    opacity: 0.3;
  }

  @media (min-width: @desktop-width) {
    svg {
      fill: @white;
      opacity: 1;
    }
  }
}

.catalog-item__like:hover svg {
  fill: @hover;
}

.catalog-item__like:active svg {
  fill: @logo-active;
}
