// Обертка блока копирайта
.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.copyright__link:hover .copyright__text {
  color: @hover;
}

.copyright__link:active .copyright__text {
  color: @logo-active;
}

// Цвет текста "Разработано" и его выравнивание
.copyright__text {
  margin-right: 9px;
  color: @black;
}

// Позиционирование иконок относительно квадратов
.copyright__icon {
  display: block;
  fill: @black;

  &:hover {
    fill: @hover;
  }

  &:active {
    fill: @logo-active;
  }
}
