.copyright__wrapper {
  position: relative;
  padding: 7px 40px 7px 0;
}

.copyright__text {
  color: #000000;
  text-align: left;
  text-transform: uppercase;
}

.copyright__link {
  position: absolute;
  top: 0;
  right: 0;
  width: 27px;
  height: 34px;
  padding: 0;
  border: none;
  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}
