// Поля
.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: @mobile-width-only) {
    padding: 0 20px;
  }

  @media (min-width: @tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 120px;
  }
}

// Оформление блоков
.form__content {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;

  // Для мобильной версии
  @media (max-width: @mobile-width-only) {
    // Внутренние отступы для блока с ФИО
    &--full-name {
      padding-top: 25px;
      padding-bottom: 38px;
    }

    // Внутренние отступы для блока с контактными данными
    &--contact {
      padding-top: 25px;
      padding-bottom: 34px;
    }

    // Внутренние отступы для блока с радио-кнопками
    &--impression {
      padding-top: 25px;
      padding-bottom: 24px;
    }

    // Внутренние отступы для блока с чекбоксами
    &--place-of-interest {
      padding-top: 25px;
      padding-bottom: 24px;
    }

    // Внутренние отступы для блока обратной связи
    &--feedback {
      padding-top: 24px;
      padding-bottom: 52px;
    }

    // Псевдоэлемент-разделитель блоков
    &::before {
      position: absolute;
      content: " ";
      height: 1px;
      width: 100%;
      background-color: #e5e5e5;
      top: 0;
      left: 0;
    }
  }

  // Для планшетной версии:
  @media (min-width: @tablet-width) {
    // Блок радио-кнопок с нижним отступом
    &--impression {
      padding: 0;
      padding-bottom: 48px;
    }

    // Блок чекбокса с нижним отступом
    &--place-of-interest {
      padding: 0;
      padding-bottom: 42px;
    }

    // Блок ввода отзыва с нижним отступом
    &--feedback {
      padding: 0;
      padding-bottom: 43px;
    }
  }

  // Для десктопной версии:
  @media (min-width: @desktop-width) {
    // Блок радио-кнопок с нижним отступом
    &--impression {
      padding-bottom: 73px;
    }

    // Блок чекбокса с нижним отступом
    &--place-of-interest {
      padding-bottom: 89px;
    }

    // Блок ввода отзыва с нижним отступом
    &--feedback {
      padding: 0;
      padding-bottom: 40px;
    }
  }
}

// Обертка для ФИО и контактов: два блока в два столбца, для планшетной версии и шире
.form__wrapper-contacts {
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content;
    gap: 58px;
    padding: 0;
    margin-bottom: 63px;

    // Декоративная полоса между столбцами
    &::after {
      content: " ";
      position: absolute;
      left: calc(50% - 1px / 2);
      top: calc(50% - [height] / 2);
      width: 1px;
      height: 100%;
      background-color: @decor-line;
    }
  }

  @media (min-width: @desktop-width) {
    gap: 100px;
    margin-bottom: 71px;
  }
}

// Шрифт заголовка формы
.form__legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @black;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    margin-bottom: 28px;

    // Декоративная полоса за заголовком
    &--decor-line::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      top: 50%;
      background-color: @decor-line;
    }
  }
}

// Обертка для заголовков с декоративной kybtq по обе стороны
.form__legend-wrapper {
  @media (min-width: @tablet-width) {
    width: 400px;
    text-align: center;
    background-color: @white;
    z-index: 1;
  }
}

// Отображение заголовка и поле ввода друг под другом
.form__field-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

// Отступ между блоками, кроме последнего элемента
.form__field-item:not(:last-child) {
  margin-bottom: 16px;
}

// Отступ заголовка поля ввода
.form__title {
  padding-left: 16px;
}

// Форма ввода контактов и иконка друг за другом
.form__label--row {
  display: flex;
}

// Форма ввода и шрифт внутри
.form__control {
  width: 100%;
  margin: 0;
  padding: 12px 12px;
  background: @input;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  border: 4px solid transparent;
  outline: none;
  box-sizing: border-box;
  color: @black;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: @white;
    border: 4px solid #e5e5e5;
  }

  // Прозрачность текста
  &::placeholder {
    opacity: 0.3;
  }
}

// Иконки телефона и письма к форме ввода контактов
.form__control-icon {
  width: 58px;
  padding: 28px;
  background-color: #e6e6e6;
  background-position: center;
  background-repeat: no-repeat;

  // Иконка телефона
  &--phone {
    background-image: url("../img/form/phone.svg");
  }

  // Иконка e-mail
  &--email {
    background-image: url("../img/form/mail.svg");
  }
}

// Выравнивание списка
.form__list {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
  justify-content: center;

  @media (max-width: @mobile-width-only) {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  @media (min-width: @tablet-width) {
    display: grid;

    &--radio {
      grid-template-columns: 280px 280px;
      grid-template-rows: min-content;
      gap: 16px;
    }

    &--checkbox {
      grid-template-columns: 224px 224px;
      grid-template-rows: min-content;
      gap: 16px;
      column-gap: 32px;
    }
  }

  @media (min-width: @desktop-width) {
    &--radio {
      padding-top: 16px;
      padding-left: 42px;
      grid-template-columns: repeat(3, 280px);
      grid-template-rows: min-content;
      column-gap: 28px;
      row-gap: 30px;
    }

    &--checkbox {
      padding-top: 31px;
      grid-template-columns: repeat(4, 190px);
      grid-template-rows: min-content;
      column-gap: 64px;
      row-gap: 30px;
    }
  }
}

// Внутренние отступы для элементов списка и позиционирование
.form__item {
  position: relative;
  display: block;
  padding: 10px 0 10px 62px;
}

// Шрифт наименований радио-кнопок и чекбокса
.form__radio-label,
.form__checkbox-label {
  display: flex;
  flex-wrap: wrap;
  text-transform: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @black;
}

// Другой стиль для радио-кнопок и чекбоксов
.form__radio-mark,
.form__checkbox-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  border: transparent;
  border-radius: 4px;
  background: @input;
  cursor: pointer;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    opacity: 0.3;
    background-color: #d5d5d5;
  }
}

// Фокусное выделение новых радио-кнопок и чекбоксов
.form__control-input:focus + .form__radio-mark,
.form__control-input:focus + .form__checkbox-mark {
  outline: 2px solid @black;
}

// Кружок внутри радио-кнопок
.form__control-input[type="radio"] + .form__radio-mark {
  border-radius: 50%;
}

.form__control-input[type="radio"]:checked + .form__radio-mark::before {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
  background-image: url("../img/form/radio.svg");
  background-repeat: no-repeat;
  border-radius: 50%;
  content: " ";
}

// Галочка внутри выбранного чекбокса
.form__control-input[type="checkbox"]:checked + .form__checkbox-mark::before {
  position: absolute;
  top: 15px;
  left: 12px;
  width: 22px;
  height: 16px;
  background-image: url("../img/form/checkbox.svg");
  background-repeat: no-repeat;
  content: " ";
}

// Форма ввода текста-отзыва
.form__feedback {
  margin: 0;
  padding: 16px;
  width: 100%;
  min-width: 279px;
  max-width: 648px;
  min-height: 150px;
  resize: none;
  outline: none;
  border: 4px solid transparent;
  box-sizing: border-box;
  background: @input;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @black;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: @white;
    border: 4px solid #e5e5e5;
  }

  &::placeholder {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    min-width: 648px;
    max-width: 768px;
    min-height: 160px;
    padding: 12px;
  }

  @media (min-width: @desktop-width) {
    min-width: 768px;
  }
}

// Отображение кнопки "Оставить отзыв" и текста под ней
.form__submit-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  // padding: 0 20px;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    width: 100%;
    max-width: 768px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 64px;
  }
}

// Кнопка "Оставить отзыв"
.form__submit {
  padding: 16px 49px;
  display: block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: @white;
  background: @darkblue;
  border: none;
  cursor: pointer;
  margin-bottom: 3px;

  &:hover {
    background: @hover;
  }

  &:active {
    background: @active;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 16px 71px;
  }

  @media (min-width: @desktop-width) {
    padding: 16px 101px;
  }
}

// Текст рядом с кнопкой
.form__text {
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: @lightblack;
  opacity: 0.6;
  text-align: right;

  @media (min-width: @tablet-width) {
    padding-top: 6px;
    padding-left: 20px;
    font-size: 14px;
  }
}
