.hero-intro__wrapper {
  background-image: url("../img/catalog/zigzag.svg"), url("../img/catalog/back-hero.jpg");
  background-color: rgba(131, 179, 211, 0.6);;
  background-position: bottom, center;
  background-repeat: no-repeat;
  background-size: auto;
  max-width: 100%;
  min-height: 214px;
}

.hero-intro__wrapper img {
  display: block;
  margin: 0 auto;
  padding: 108px 0 67px;
}
