// Обертка футера (элементы в столбец и содержимое в центре)
.main-footer__wrapper {
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: @white;

  // При планшетной ширине элементы в строку и с равным расстоянием между др. др.
  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 0 60px;
  }

  // Отступы от края страницы до содержимого футера при десктоптной ширине чуть больше
  @media (min-width: @desktop-width) {
    padding: 0 120px;
  }
}

// Отступы для надписи #Visitsedona
.main-footer__hashtag {
  margin-top: 40px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

// Отступы для соц. сетей
.main-footer__social {
  width: 100%;
  margin: 34px 0 30px;
  padding: 0 20px;

  // Добавляет место для доп. иконок соц. сетей
  @media (min-width: @tablet-width) {
    max-width: 270px;
    margin: 0;
    padding: 0;
  }
}

// Отступы для копирайта
.main-footer__copyright {
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}
