.main-footer__wrapper {
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: @white;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin: 0 60px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 120px;
  }
}

.main-footer__hashtag {
  margin-top: 33px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.main-footer__social {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 250px;
  min-height: 48px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.main-footer__copyright {
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}
