.main-header {
  position: relative;
  display: flex;
  width: 100%;
}

// Главный логотип
.main-header__logo-image {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}
