.map {
  background-color: @background;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;

  @media (max-width: @mobile-width-only) {
    margin-bottom: 8px;
    background-image: url("../img/index/mobile-map.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/mobile-map@2x.jpg");
    }
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/index/tablet-map.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/tablet-map@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/index/desktop-map.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/desktop-map@2x.jpg");
    }
  }
}

.map__google {
  border: none;
  display: block;
  width: 100%;
  height: 350px;
}
