.map {
  position: relative;
}

.map img {
  display: block;
  position: relative;
  margin-bottom: 8px;
}

// Пока не работает
// .map__marker {
//   position: absolute;
//   top: 161px;
//   left: 146px;
//   background-image: url("../img/index/map-marker.svg");
//   background-repeat: no-repeat;
// }
