@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff") format("woff"), url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff") format("woff"), url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.page__body {
  width: 320px;
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  background-color: #f8f8f8;
  text-align: center;
  flex-grow: 1;
  // Размер блока на всю страницу
  min-height: 100%;
}
