.social__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 6px;
  list-style: none;
}

// Отображение квадратов соц. сетей
.social__item {
  background-color: @darkblue;
}

.social__link {
  width: 48px;
  height: 48px;
  cursor: pointer;

  &:hover {
    background-color: @hover;
  }

  &:active {
    background-color: @active;
    opacity: 0.3;
  }
}

.social__icon {
  padding: 12px 12px;
}
