html {
  width: 100%;
  height: 100%;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
p,
h1,
h2,
h3 {
  margin: 0;
}
a {
  text-decoration: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}
.page {
  height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  background-color: #e7e5e5;
}
.page .advantages-intro__title,
.page .advantages__item-title,
.page .catalog-intro__title,
.page .catalog-video__title,
.page .form-intro__title,
.page .form__legend,
.page .form__radio-label,
.page .form__checkbox-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
@media (min-width: 768px) {
  .page .advantages-intro__title,
  .page .advantages__item-title,
  .page .catalog-intro__title,
  .page .catalog-video__title,
  .page .form-intro__title,
  .page .form__legend,
  .page .form__radio-label,
  .page .form__checkbox-label {
    font-size: 21px;
  }
}
.page__body {
  width: 100%;
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
  left: -10000px;
}
.main-header {
  position: relative;
  display: flex;
  width: 100%;
}
.main-header__logo-image {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}
.main-nav {
  position: relative;
  width: 100%;
  min-height: 56px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .main-nav {
    display: flex;
    background-color: #ffffff;
  }
}
.main-nav__toggle {
  z-index: 3;
  position: absolute;
  display: block;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 22px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.main-nav__toggle:hover {
  opacity: 0.6;
}
.main-nav__toggle:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
}
.main-nav--opened .main-nav__toggle {
  width: 22px;
  height: 22px;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 9px;
  right: -2px;
  width: 26px;
  height: 4px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
@media (max-width: 767px) {
  .main-nav--closed .main-nav__wrapper {
    display: none;
  }
}
.main-nav__list {
  flex-wrap: wrap;
  list-style: none;
  border: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
  }
}
.main-nav__item {
  z-index: 2;
  width: 100%;
  min-height: 55px;
  position: relative;
  background-color: #81b3d2;
}
@media (max-width: 767px) {
  .main-nav__item {
    width: 100%;
    border-top: 1px solid #cce0ed;
    border-bottom: 1px solid #3e84af;
  }
  .main-nav__item:first-child {
    border-top: none;
  }
  .main-nav__item:last-child {
    border-bottom: none;
  }
  .main-nav__item:last-child::after {
    z-index: 1;
    width: 100%;
    height: 7px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    content: "";
  }
}
@media (min-width: 768px) {
  .main-nav__item {
    z-index: 0;
    width: 20%;
    background-color: #ffffff;
  }
  .main-nav__item:nth-child(4n+3) {
    margin-left: 20%;
  }
}
.main-nav__link {
  width: 100%;
  min-height: 55px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  color: #ffffff;
}
@media (max-width: 767px) {
  .main-nav__link:hover {
    background-color: #669ec0;
  }
  .main-nav__link:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }
}
@media (min-width: 768px) {
  .main-nav__link {
    color: #000000;
  }
  .main-nav__link--current {
    color: #766357;
  }
  .main-nav__link:hover {
    color: #81b3d2;
  }
  .main-nav__link:active {
    opacity: 0.3;
  }
}
.main-nav--nojs .main-nav__toggle {
  display: none;
}
.main-nav--nojs .main-nav__wrapper {
  position: static;
  min-height: 0;
}
.main-nav--nojs .main-nav__list {
  display: block;
}
.main-nav--nojs .main-nav__item {
  display: block;
}
.main-nav--nojs .main-nav__link--current {
  width: 100%;
  min-height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  border: none;
}
.site-list a {
  position: relative;
  display: inline-block;
  padding: 17px 75px 12px 75px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}
.site-list__item {
  margin: 0;
  margin-bottom: 1px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.site-list__item:first-child {
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
}
.site-list__item:last-child {
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  margin-bottom: 0;
}
.site-list__item:last-child::before {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 7px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  content: "";
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
}
.hero {
  position: relative;
  background-image: url("../img/index/zigzag.svg"), url("../img/index/back-mobile.jpg");
  background-color: rgba(131, 179, 211, 0.6);
  background-position: bottom, center;
  background-repeat: no-repeat;
  background-size: auto;
  max-width: 100%;
  min-height: 389px;
}
.hero__wrapper {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-top: 90px;
  padding-bottom: 85px;
}
.advantages-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: inherit;
}
.advantages-intro__header {
  min-width: 284px;
  max-width: 520px;
  margin: 0 18px;
  margin-top: 32px;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .advantages-intro__header {
    width: 520px;
    margin: 0;
    margin-top: 47px;
    margin-bottom: 55px;
  }
  .advantages-intro__header br {
    display: none;
  }
}
@media (min-width: 1200px) {
  .advantages-intro__header {
    margin-top: 59px;
    margin-bottom: 44px;
  }
}
.advantages-intro__title {
  margin-bottom: 36px;
}
.advantages-intro__zigzag {
  display: block;
  background-image: url("../img/index/advantages-intro__zigzag.svg");
  background-color: #81b3d2;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: auto;
  max-width: 100%;
  min-height: 37px;
}
.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.advantages__item--img img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}
@media (min-width: 768px) {
  .advantages__item--img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .advantages__item--img img {
    width: 66.66%;
    height: 256px;
    object-fit: cover;
  }
}
.advantages__wrapper--main-blue {
  width: 100%;
  background-color: #81b3d2;
  color: #ffffff;
}
.advantages__wrapper--main-blue .advantages__item-title,
.advantages__wrapper--main-blue * {
  color: #ffffff;
}
@media (max-width: 767px) {
  .advantages__wrapper--main-blue {
    padding: 33px 18px 40px;
  }
  .advantages__wrapper--main-blue br {
    display: none;
  }
}
@media (min-width: 768px) {
  .advantages__wrapper--main-blue {
    width: 33.33%;
    min-height: 256px;
    padding: 52px 33px 31px;
  }
  .advantages__wrapper--main-blue .advantages__item-title {
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .advantages__wrapper--main-blue {
    padding: 52px 60px 51px;
  }
}
.advantages__list--icon {
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .advantages__list--icon {
    padding: 24px 18px 21px;
  }
}
@media (min-width: 768px) {
  .advantages__list--icon {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
  }
}
@media (max-width: 767px) {
  .advantages__item--icon {
    align-items: flex-start;
    margin-bottom: 25px;
    text-align: left;
  }
}
@media (min-width: 768px) {
  .advantages__item--icon {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .advantages__wrapper--white {
    padding: 8px 0 0 47px;
  }
  .advantages__wrapper--white .advantages__item-title {
    margin-bottom: 16px;
  }
  .advantages__wrapper--white br {
    display: none;
  }
}
@media (min-width: 768px) {
  .advantages__wrapper--white {
    padding: 60px 40px;
  }
  .advantages__wrapper--white .advantages__item-title {
    font-size: 21px;
    padding-top: 98px;
    margin-bottom: 22px;
  }
}
@media (min-width: 1200px) {
  .advantages__wrapper--white {
    padding: 69px 50px;
  }
  .advantages__wrapper--white br {
    display: block;
  }
}
.advantages__wrapper {
  background-repeat: no-repeat;
  background-position: start;
}
.advantages__wrapper--housing {
  background-image: url("../img/index/house.svg");
}
@media (min-width: 768px) {
  .advantages__wrapper--housing {
    background-image: url("../img/index/house-big.svg");
    background-position: 50% 24%;
  }
}
@media (min-width: 1200px) {
  .advantages__wrapper--housing {
    background-position: 50% 27%;
  }
}
.advantages__wrapper--food {
  background-image: url("../img/index/burger.svg");
}
@media (min-width: 768px) {
  .advantages__wrapper--food {
    background-image: url("../img/index/burger-big.svg");
    background-position: 50% 23%;
  }
}
@media (min-width: 1200px) {
  .advantages__wrapper--food {
    background-position: 50% 27%;
  }
}
.advantages__wrapper--souvenire {
  background-image: url("../img/index/gift.svg");
}
@media (min-width: 768px) {
  .advantages__wrapper--souvenire {
    background-image: url("../img/index/gift-big.svg");
    background-position: 50% 24%;
  }
}
@media (min-width: 1200px) {
  .advantages__wrapper--souvenire {
    background-position: 50% 28%;
  }
}
.advantages__wrapper--dark-blue {
  width: 100%;
  background-color: #81b3d2;
  color: #ffffff;
}
.advantages__wrapper--dark-blue .advantages__item-title,
.advantages__wrapper--dark-blue * {
  color: #ffffff;
}
@media (max-width: 767px) {
  .advantages__wrapper--dark-blue {
    padding: 37px 25px;
  }
  .advantages__wrapper--dark-blue br {
    display: none;
  }
}
@media (min-width: 768px) {
  .advantages__wrapper--dark-blue {
    width: 33.33%;
    min-height: 256px;
    padding: 52px 33px 31px;
    order: 2;
  }
  .advantages__wrapper--dark-blue .advantages__item-title {
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .advantages__wrapper--dark-blue {
    padding: 52px 90px 51px;
  }
}
.advantages__list--gray {
  padding: 24px 18px 28px;
  background-color: #eeeeee;
}
@media (min-width: 768px) {
  .advantages__list--gray {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
  }
}
@media (max-width: 767px) {
  .advantages__item--gray {
    padding: 0 18px;
  }
  .advantages__item--gray:not(:last-child) {
    margin-bottom: 49px;
  }
  .advantages__item--gray:not(:first-child)::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background-color: #d6d6d6;
    top: -26px;
    left: 0;
  }
  .advantages__item--gray br {
    display: none;
  }
}
@media (min-width: 768px) {
  .advantages__item--gray {
    padding: 41px 33px;
  }
}
@media (min-width: 1200px) {
  .advantages__item--gray {
    padding: 52px 58px;
  }
}
.advantages__item-title {
  margin-bottom: 11px;
}
@media (min-width: 768px) {
  .advantages__item-title {
    font-size: 21px;
  }
}
.advantages__item-legend {
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .advantages__item-legend {
    margin-bottom: 23px;
  }
}
.advantages__item-text {
  margin: 0;
}
.booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: inherit;
}
.booking__wrapper {
  min-width: 284px;
  max-width: 460px;
  margin: 0 18px;
  margin-top: 40px;
  margin-bottom: 49px;
}
@media (min-width: 768px) {
  .booking__wrapper {
    margin: 0;
    margin-top: 60px;
    margin-bottom: 55px;
  }
}
@media (min-width: 1200px) {
  .booking__wrapper {
    margin-top: 60px;
    margin-bottom: 66px;
  }
}
.booking__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .booking__title {
    font-size: 30px;
    margin-bottom: 32px;
  }
}
.booking__text {
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .booking__text br {
    display: none;
  }
}
@media (min-width: 768px) {
  .booking__text {
    margin-bottom: 44px;
  }
}
.booking__search {
  display: block;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  padding: 16px 0;
  background-color: #81b3d2;
}
@media (min-width: 768px) {
  .booking__search {
    padding: 0;
    padding-top: 14px;
    padding-bottom: 17px;
  }
}
.map iframe {
  border: none;
  display: block;
}
.main-footer__wrapper {
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 0 60px;
  }
}
@media (min-width: 1200px) {
  .main-footer__wrapper {
    padding: 0 120px;
  }
}
.main-footer__hashtag {
  margin-top: 33px;
}
@media (min-width: 768px) {
  .main-footer__hashtag {
    margin: 0;
  }
}
.main-footer__social {
  width: 100%;
  margin: 30px 0;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .main-footer__social {
    max-width: 270px;
    margin: 0;
    padding: 0;
  }
}
.main-footer__copyright {
  margin-bottom: 33px;
}
@media (min-width: 768px) {
  .main-footer__copyright {
    margin: 0;
  }
}
.social__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  list-style: none;
}
.social__item {
  background-color: #81b3d2;
  min-width: 48px;
  min-height: 48px;
}
.social__item:hover {
  background-color: #669ec0;
}
.social__item:active {
  background-color: #5496bd;
  opacity: 0.3;
}
.social__link {
  display: block;
  position: relative;
  cursor: pointer;
}
.social__icon {
  position: absolute;
  top: 12px;
  right: 12px;
}
.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.copyright__link:hover .copyright__text {
  color: #669ec0;
}
.copyright__link:active .copyright__text {
  color: #b3b3b3;
}
.copyright__text {
  margin-right: 9px;
  color: #000000;
}
.copyright__icon {
  display: block;
  fill: #000000;
}
.copyright__icon:hover {
  fill: #669ec0;
}
.copyright__icon:active {
  fill: #b3b3b3;
}
.hero-intro__wrapper {
  background-image: url("../img/catalog/zigzag.svg"), url("../img/catalog/back-hero.jpg");
  background-color: rgba(131, 179, 211, 0.6);
  background-position: bottom, center;
  background-repeat: no-repeat;
  background-size: auto;
  max-width: 100%;
  min-height: 159px;
}
.hero-intro__wrapper img {
  display: block;
  margin: 0 auto;
  padding: 53px 0 67px;
}
.catalog-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: inherit;
}
.catalog-intro__header {
  min-width: 280px;
  max-width: 440px;
  margin: 0 20px;
  margin-top: 37px;
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .catalog-intro__header {
    width: 440px;
    margin: 0;
    margin-top: 66px;
    margin-bottom: 67px;
  }
}
@media (min-width: 1200px) {
  .catalog-intro__header {
    margin-top: 100px;
    margin-bottom: 65px;
  }
}
.catalog-intro__title {
  margin-bottom: 24px;
}
.catalog-intro__text {
  text-transform: uppercase;
}
.catalog {
  width: 100%;
}
.catalog__list {
  margin: 0;
  padding: 24px 0 25px;
  list-style: none;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .catalog__list {
    padding: 0 60px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.catalog-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 0 20px;
}
@media (max-width: 767px) {
  .catalog-item {
    position: relative;
    text-align: left;
  }
  .catalog-item:not(:last-child) {
    margin-bottom: 50px;
  }
  .catalog-item::before {
    position: absolute;
    content: " ";
    height: 1px;
    width: 100%;
    background-color: #e5e5e5;
    top: -25px;
    left: 0;
  }
}
@media (min-width: 768px) {
  .catalog-item {
    padding: 0;
    margin: 0;
  }
  .catalog-item:not(:first-child) {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .catalog-item {
    position: relative;
    padding: 0;
    margin: 0;
  }
  .catalog-item:not(:first-child) {
    width: 33.33%;
  }
}
@media (min-width: 768px) {
  .catalog-item__link--main {
    height: 400px;
  }
}
.catalog-item__link img {
  width: 100%;
  object-fit: cover;
  max-height: 400px;
  background-color: #d6d6d6;
}
@media (min-width: 1200px) {
  .catalog-item__link img {
    position: relative;
  }
}
@media (min-width: 768px) {
  .catalog-item__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: start;
    padding: 0 20px;
    min-height: 80px;
    background-color: #f2f2f2;
  }
}
@media (min-width: 1200px) {
  .catalog-item__container {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .catalog-item__container .catalog-item__title,
  .catalog-item__container .catalog-item__text,
  .catalog-item__container .catalog-item__like-count {
    color: #ffffff;
  }
}
.catalog-item__title {
  margin-top: 15px;
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.catalog-item__text {
  text-transform: none;
  margin-bottom: 10px;
}
.catalog-item__like {
  display: flex;
  cursor: pointer;
}
.catalog-item__like svg {
  fill: #000000;
  opacity: 0.3;
}
@media (min-width: 1200px) {
  .catalog-item__like svg {
    fill: #ffffff;
    opacity: 1;
  }
}
.catalog-item__like:hover svg {
  fill: #669ec0;
}
.catalog-item__like:active svg {
  fill: #b3b3b3;
}
.catalog-item__like-count {
  margin: 0;
  padding-top: 5px;
  padding-left: 14px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .catalog-item__like-count {
    padding-top: 4px;
    padding-left: 9px;
  }
}
.catalog-video {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}
@media (min-width: 768px) {
  .catalog-video {
    margin: 0 60px;
  }
}
@media (min-width: 1200px) {
  .catalog-video {
    margin: 0 200px;
  }
}
@media (max-width: 767px) {
  .catalog-video__header {
    min-width: 260px;
    max-width: 460px;
    margin: 0 auto;
    margin-top: 17px;
    margin-bottom: 38px;
  }
  .catalog-video__header::before {
    position: absolute;
    content: " ";
    height: 1px;
    width: 100%;
    background-color: #e5e5e5;
    top: 0;
    left: 0;
  }
}
@media (min-width: 768px) {
  .catalog-video__header {
    width: 445px;
    margin: 0 auto;
    margin-top: 58px;
    margin-bottom: 72px;
  }
  .catalog-video__header br {
    display: none;
  }
}
@media (min-width: 1200px) {
  .catalog-video__header {
    margin-top: 62px;
    margin-bottom: 78px;
  }
}
.catalog-video__wrapper {
  width: 100%;
}
.catalog-video__wrapper img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}
@media (min-width: 768px) {
  .catalog-video__wrapper img {
    height: 500px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .catalog-video__wrapper img {
    margin-bottom: 84px;
  }
}
.catalog-video__title {
  margin-bottom: 28px;
}
.form-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: inherit;
}
.form-intro__header {
  min-width: 280px;
  max-width: 435px;
  margin: 0 20px;
  margin-top: 36px;
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .form-intro__header {
    width: 435px;
    margin: 0;
    margin-top: 64px;
    margin-bottom: 108px;
  }
  .form-intro__header br {
    display: none;
  }
}
@media (min-width: 1200px) {
  .form-intro__header {
    margin-top: 115px;
    margin-bottom: 68px;
  }
}
.form-intro__title {
  margin-bottom: 24px;
}
.form-intro__text {
  text-transform: uppercase;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767px) {
  .form {
    padding: 0 20px;
  }
}
@media (min-width: 768px) {
  .form {
    padding: 0 60px;
  }
}
@media (min-width: 1200px) {
  .form {
    padding: 0 120px;
  }
}
.form__content {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .form__content--full-name {
    padding-top: 25px;
    padding-bottom: 38px;
  }
  .form__content--contact {
    padding-top: 25px;
    padding-bottom: 34px;
  }
  .form__content--impression {
    padding-top: 25px;
    padding-bottom: 24px;
  }
  .form__content--place-of-interest {
    padding-top: 25px;
    padding-bottom: 24px;
  }
  .form__content--feedback {
    padding-top: 24px;
    padding-bottom: 52px;
  }
  .form__content::before {
    position: absolute;
    content: " ";
    height: 1px;
    width: 100%;
    background-color: #e5e5e5;
    top: 0;
    left: 0;
  }
}
@media (min-width: 768px) {
  .form__content {
    min-width: 295px;
  }
  .form__content--impression {
    min-width: 648px;
    padding: 0;
    padding-bottom: 48px;
  }
  .form__content--place-of-interest {
    min-width: 648px;
    padding: 0;
    padding-bottom: 42px;
  }
  .form__content--feedback {
    min-width: 648px;
    padding: 0;
    padding-bottom: 48px;
  }
}
@media (min-width: 1200px) {
  .form__content {
    min-width: 430px;
  }
  .form__content--impression {
    min-width: 960px;
    padding-bottom: 56px;
  }
  .form__content--place-of-interest {
    min-width: 960px;
    padding-bottom: 56px;
  }
  .form__content--feedback {
    min-width: 960px;
    padding: 0;
    padding-bottom: 48px;
  }
}
@media (min-width: 768px) {
  .form__wrapper-contacts {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 63px;
  }
  .form__wrapper-contacts::after {
    content: " ";
    position: absolute;
    left: calc(50% - 1px / 2);
    top: calc(50% - 338px / 2);
    width: 1px;
    min-height: 338px;
    background-color: #dbdbdb;
  }
}
@media (min-width: 1200px) {
  .form__wrapper-contacts {
    margin-bottom: 71px;
  }
}
.form__legend {
  position: relative;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .form__legend {
    font-size: 21px;
    margin-bottom: 28px;
  }
}
@media (min-width: 768px) {
  .form__legend--decor-line::before {
    content: "";
    position: absolute;
    min-width: 123px;
    height: 1px;
    left: 0;
    top: 50%;
    background-color: #dbdbdb;
  }
}
@media (min-width: 1200px) {
  .form__legend--decor-line::before {
    min-width: 280px;
  }
}
@media (min-width: 768px) {
  .form__legend--decor-line::after {
    content: "";
    position: absolute;
    min-width: 123px;
    height: 1px;
    right: 0;
    top: 50%;
    background-color: #dbdbdb;
  }
}
@media (min-width: 1200px) {
  .form__legend--decor-line::after {
    min-width: 280px;
  }
}
.form__field-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}
.form__field-item:not(:last-child) {
  margin-bottom: 16px;
}
.form__title {
  padding-left: 16px;
}
.form__input-wrapper {
  display: flex;
}
.form__control {
  margin: 0;
  padding: 12px 16px;
  background: #f2f2f2;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  border: 4px solid transparent;
  outline: none;
  box-sizing: border-box;
  color: #000000;
}
.form__control:hover {
  background-color: #e5e5e5;
}
.form__control:active {
  background-color: #ffffff;
  border: 4px solid #e5e5e5;
}
.form__control::placeholder {
  opacity: 0.3;
}
@media (max-width: 767px) {
  .form__control {
    width: 280px;
  }
}
@media (min-width: 768px) {
  .form__control {
    width: 295px;
  }
}
@media (min-width: 1200px) {
  .form__control {
    width: 430px;
  }
}
@media (max-width: 767px) {
  .form__control--phone,
  .form__control--email {
    width: 222px;
  }
}
@media (min-width: 768px) {
  .form__control--phone,
  .form__control--email {
    width: 237px;
  }
}
@media (min-width: 1200px) {
  .form__control--phone,
  .form__control--email {
    width: 372px;
  }
}
.form__control-icon {
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-position: center;
  background-repeat: no-repeat;
}
.form__control-icon--phone {
  background-image: url("../img/form/phone.svg");
}
.form__control-icon--email {
  background-image: url("../img/form/mail.svg");
}
.form__list {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
  justify-content: center;
}
@media (max-width: 767px) {
  .form__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
@media (min-width: 768px) {
  .form__list {
    display: grid;
  }
  .form__list--radio {
    grid-template-columns: 280px 280px;
    grid-template-rows: min-content;
    gap: 16px;
  }
  .form__list--checkbox {
    grid-template-columns: 224px 224px;
    grid-template-rows: min-content;
    gap: 16px;
    column-gap: 32px;
  }
}
@media (min-width: 1200px) {
  .form__list--radio {
    padding-top: 17px;
    grid-template-columns: 280px 280px 280px;
    grid-template-rows: min-content;
    gap: 28px;
  }
  .form__list--checkbox {
    padding-top: 31px;
    grid-template-columns: repeat(4, max-content);
    grid-template-rows: min-content;
    gap: 64px;
  }
}
.form__item {
  position: relative;
  display: block;
  padding: 10px 0 10px 62px;
}
.form__radio-label,
.form__checkbox-label {
  text-transform: none;
  color: #000000;
}
.form__radio-mark,
.form__checkbox-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  border: transparent;
  border-radius: 4px;
  background: #f2f2f2;
  cursor: pointer;
}
.form__radio-mark:hover,
.form__checkbox-mark:hover {
  background-color: #e5e5e5;
}
.form__radio-mark:active,
.form__checkbox-mark:active {
  opacity: 0.3;
  background-color: #d5d5d5;
}
.form__control-input[type="radio"] + .form__radio-mark {
  border-radius: 50%;
}
.form__control-input[type="radio"]:checked + .form__radio-mark::before {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
  background-image: url("../img/form/radio.svg");
  background-repeat: no-repeat;
  border-radius: 50%;
  content: " ";
}
.form__control-input[type="checkbox"]:checked + .form__checkbox-mark::before {
  position: absolute;
  top: 15px;
  left: 12px;
  width: 22px;
  height: 16px;
  background-image: url("../img/form/checkbox.svg");
  background-repeat: no-repeat;
  content: " ";
}
.form__feedback {
  margin: 0;
  padding: 16px;
  width: 100%;
  min-width: 279px;
  max-width: 648px;
  min-height: 150px;
  resize: none;
  outline: none;
  border: 4px solid transparent;
  box-sizing: border-box;
  background: #f2f2f2;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.form__feedback:hover {
  background-color: #e5e5e5;
}
.form__feedback:active {
  background-color: #ffffff;
  border: 4px solid #e5e5e5;
}
.form__feedback::placeholder {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .form__feedback {
    min-width: 648px;
    max-width: 768px;
    min-height: 160px;
  }
}
@media (min-width: 1200px) {
  .form__feedback {
    min-width: 768px;
  }
}
.form__submit-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .form__submit-wrapper {
    width: 100%;
    max-width: 768px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 64px;
  }
}
.form__submit {
  padding: 16px 40px;
  display: block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background: #81b3d2;
  border: none;
  margin-bottom: 3px;
}
@media (min-width: 768px) {
  .form__submit {
    margin: 0;
  }
}
.form__text {
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  opacity: 0.6;
  text-align: right;
}
/*# sourceMappingURL=style.css.map */
