// Виды экранов
@mobile-width-only: 320px;
@tablet-width: 768px;
@desktop-width: 1200px;

// Цвета
@white: #ffffff;
@darkblue: #81b3d2;
@grey: #eeeeee;
@title-text: #000000;
@description-text: #333333;
@decor: #d6d6d6;
@input: #f2f2f2;
